/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Nunito:ital,wght@0,200;0,400;1,200&family=Varela+Round&display=swap");

/* Variables */
:root {
  --header-gap: 3.5rem;

  /* Colors */
  /* Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(240, 19%, 93%);
  --container-color: hsl(220, 18%, 97%);

  /* Font and typography */
  --body-font: "Nunito", sans-serif;
  --title-font: "Gayathri", sans-serif;
  --defaut-font-size: 1rem;
  --big-font-size: calc(var(--defaut-font-size) * 2.25);
  --h1-font-size: calc(var(--defaut-font-size) * 1.5);
  --h2-font-size: calc(var(--defaut-font-size) * 1.25);
  --h3-font-size: calc(var(--defaut-font-size) * 1.1);
  --normal-font-size: calc(var(--defaut-font-size) * 0.9);
  --small-font-size: calc(var(--defaut-font-size) * 0.8);
  --smaller-font-size: calc(var(--defaut-font-size) * 0.6);

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Reponsive */
@media (min-width: 1124px) {
  :root {
    --big-font-size: calc(var(--defaut-font-size) * 4.5);
    --h1-font-size: calc(var(--defaut-font-size) * 2.25);
    --h2-font-size: calc(var(--defaut-font-size) * 1.5);
    --h3-font-size: calc(var(--defaut-font-size) * 1.25);
    --normal-font-size: calc(var(--defaut-font-size) * 1);
    --small-font-size: calc(var(--defaut-font-size) * 0.875);
    --smaller-font-size: calc(var(--defaut-font-size) * 0.7);
  }
}

/*=== BASE ===*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*=== Theme ===*/
/*=== Dark theme ===*/

/*=== Button Dark/Light ===*/

/* Color changes in some parts of the website, in dark theme */

/*=== Classes ===*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=== Header and Nav ===*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-gap);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsl(220, 18%, 40%, 0.15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: 0.5rem;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: 0.2rem;
  }
  .nav__link i {
    font-size: var(--h3-font-size);
  }
  .nav__link span {
    font-size: var(--small-font-size);
  }
}

/* Change background header */

/* Active link */

/*=== Home ===*/
.home {
  background-color: var(--bg-color);
  overflow: hidden;
}
.home__container {
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}
.home__title {
  font-size: var(--big-font-size);
  font-weight: 400;
}
.home__description {
  color: var(--title-color);
  margin: 1rem 0 2rem;
}
.home__title,
.home__description {
  line-height: 140%;
}
.home__images {
  position: relative;
  width: 19.5rem;
  justify-self: center;
}

.home__images img:nth-child(1) {
  width: 14rem;
  position: absolute;
  right: -1.5rem;
  top: -9.5rem;
}

.home__images img:nth-child(2) {
  width: 11.25rem;
  position: relative;
  margin-left: 0.5rem;
}
/*=== Button===*/
.button__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button__link i {
  font-size: var(--h3-font-size);
  transition: 0.3s;
}

.button__link:hover i {
  transform: translateX(0.3rem);
}
/*=== New products ===*/

.new__container {
  row-gap: 2.5rem;
  padding-bottom: 1.5rem;
}

.new__card {
  justify-self: center;
}
.new__img {
  width: 100%;
  margin-bottom: 1rem;
}
.new__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--title-color);
  padding-right: 0.75rem;
}
.new__link i {
  font-size: var(--h3-font-size);
  transition: 0.3s;
}
.new__link:hover i {
  transform: translateX(0.3rem);
}
.new__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}
.new_subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}

/*=== Collections ===*/

/*=== Products ===*/

/* Swiper class */

/*=== Bands ===*/

/*=== Footer ===*/
.footer {
  background-color: hsla(240, 70%, 40%, 0.1);
}
/*=== Scroll bar ===*/

/*=== Scroll up===*/

/* Show Scroll Up*/

/*=== Break point ===*/
/* For small devices */

/* For medium devices */

/* For large devices */

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
